<html>
<head>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='aboutusstylesheet.css') }}">
</head>

<body>
<h1>About us</h1><br><br>
<p> Hey Remember! merupakan sebuah chatbot yang dapat digunakan sebagai pengingat berbagai deadline, tanggal penting, dan tast - task tertentu kepada user. Chatbot ini merupakan tugas besar dari mata kuliah Strategi Algoritma. Tugas ini dibuat oleh kelopok lasteffort.</p>
<a href="/">back to main</a><br>
<img src="../static/fotokita.jpg" margin=auto width="400">
</body>

</html>