<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='mainstylesheet.css') }}">
</head>

<body>
    <h2> Hey</h2>
    <h1>Remember!</h1><br>
    <form action="" method="post" role="form">
    <p> - A friendly reminder costumize just for you - </p><br>
    <a href="/aboutuschatbot">About us</a><br>
    <input type="text" id="name" class="form-control" name="name" placeholder="Input command here" size="40">
    <button type="submit" class="btn btn-success">Submit</button>
    </div></div>
    </form>
    </body>

</html>