<html>
    <head>
        <title> Chatbot </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <br><br>

    <body>
        <div class="container">
        <center><h2>Chatbot</h2>
        <form action="" method="post" role="form">
            <div class="row align-items-center justify-content-center">
            <div class="form-inline">
            <center>
                <input type="text" class="form-control" id="name" name="name" placeholder="Masukkan chat anda" size="75">
                <button type="submit" class="btn btn-success">Send</button>
            </center>
            </div></div>
        </form>

        </div>
    </body> </center>

    <br><br><br>
</html>